@keyframes upArrow {
  from {
    top: 5px;
    opacity: 0;
  }
  to {
    top: -5px;
    opacity: 1;
  }
}

@keyframes downArrow {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 5px;
    opacity: 1;
  }
}

.up-animation {
  animation: upArrow 1s ease infinite;
}

.down-animation {
  animation: downArrow 1s ease infinite;
}
