@tailwind base;
@tailwind components;
@tailwind utilities;
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Helvetica-Light";
  src: url("/Fonts/Helvetica-Light.woff") format("woff"), url("/Fonts/Helvetica-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Compressed";
  src: url("/Fonts/Helvetica-Compressed.woff") format("woff"), url("/Fonts/Helvetica-Compressed.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Condensed-Oblique";
  src: url("/Fonts/Helvetica-Condensed-Oblique.woff") format("woff"), url("/Fonts/Helvetica-Condensed-Oblique.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Condensed-Bold";
  src: url("/Fonts/Helvetica-Condensed-Bold.woff") format("woff"), url("/Fonts/Helvetica-Condensed-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Condensed";
  src: url("/Fonts/Helvetica-Condensed.woff") format("woff"), url("/Fonts/Helvetica-Condensed.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Narrow-Bold";
  src: url("/Fonts/Helvetica-Narrow-Bold.woff") format("woff"), url("/Fonts/Helvetica-Narrow-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #ececec;
}

::-webkit-scrollbar-thumb:vertical {
  height: 8px;
  background-color: #b5b5c3;
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb:vertical:hover {
  height: 8px;
  background-color: #a1a1ad;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 8px;
  background-color: #b5b5c3;
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb:horizontal:hover {
  height: 8px;
  background-color: #a1a1ad;
}

::-moz-vertical-scrollbar {
  width: 8px;
  height: 15px;
}

::-moz-vertical-scrollbar-track-piece {
  background-color: #ccc;
}

::-moz-vertical-scrollbar-thumb:vertical {
  height: 8px;
  background-color: #a1a1ad;
}

::-moz-vertical-scrollbar-thumb:horizontal {
  height: 8px;
  background-color: #a1a1ad;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Sans-Serif;
  color: #303c4b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.media {
  max-width: 85rem;
}

.heading {
  @apply font-semibold text-lg;
}

@media screen and (min-width: 1600px) {
  .media {
    max-width: 95rem;
  }
  .card-height {
    height: 11rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .orders-height {
    height: 30rem;
  }
}

@-webkit-keyframes upArrow {
  from {
    top: 5px;
    opacity: 0;
  }
  to {
    top: -4px;
    opacity: 1;
  }
}

@keyframes upArrow {
  from {
    top: 5px;
    opacity: 0;
  }
  to {
    top: -4px;
    opacity: 1;
  }
}

@-webkit-keyframes downArrow {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 4px;
    opacity: 1;
  }
}

@keyframes downArrow {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 4px;
    opacity: 1;
  }
}

@-webkit-keyframes level {
  from {
    width: 0;
  }
}

@keyframes level {
  from {
    width: 0;
  }
}

.up-animation {
  -webkit-animation: upArrow 1s ease infinite;
          animation: upArrow 1s ease infinite;
}

.down-animation {
  -webkit-animation: downArrow 1s ease infinite;
          animation: downArrow 1s ease infinite;
}

.level-animate {
  -webkit-animation: level 2.75s ease;
          animation: level 2.75s ease;
}

.css-1f2kitb-MuiDateRangePickerDay-root,
.css-1h14vs8-MuiDateRangePickerDay-root,
.css-1m3meum-MuiDateRangePickerDay-root,
.css-v8yvmi,
.css-1aln1w9,
.css-q5pafz {
  background-color: #f3f6f9 !important;
}

.css-1esf796-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-1l0bo0r-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-jgke5a-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-18fxmqw-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-pgdzhj-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-jwafdq-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected,
.css-v8kfk3,
.css-iwfapa,
.css-wxg6um,
.MuiDateRangePickerDay-rangeIntervalPreview .css-bvapak {
  background-color: #b5b5c3 !important;
}

.css-1esf796-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected:hover,
.css-1l0bo0r-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected:hover {
  background-color: #b5b5c3 !important;
}

.css-dmmspl-MuiFormGroup-root,
.MuiFormGroup-root.css-1h7anqn {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked,
.css-1a5icme {
  color: #e45b65 !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.MuiList-root {
  padding: 0.5rem !important;
}

.MuiList-root .MuiListItemButton-root {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #e0e0e0;
}

.css-ishquk-MuiButtonBase-root-MuiListItemButton-root {
  padding-left: 0.3rem !important;
  border: none !important;
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.drawer-logout .MuiList-root .MuiListItemButton-root {
  border-bottom: none;
  border-top: 1px solid #e0e0e0;
}

.MuiListItemButton-root:hover img {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-filter: invert(47%) sepia(100%) saturate(5194%) hue-rotate(338deg) brightness(86%) contrast(125%);
          filter: invert(47%) sepia(100%) saturate(5194%) hue-rotate(338deg) brightness(86%) contrast(125%);
}

.input {
  @apply focus:outline-none text-sm flex-1 p-2 rounded-md;
}

.input2 {
  @apply focus:outline-none text-sm flex-1 p-2 rounded-md bg-[#E0E3E9];
}

.label {
  @apply w-[7.2rem] text-right text-xs;
}

.label2 {
  @apply w-[11.3rem] text-right text-xs;
}

.button-hover:hover {
  background-color: #ebebeb !important;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.iconClass {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button-hover:hover .iconClass {
  -webkit-filter: invert(47%) sepia(100%) saturate(5194%) hue-rotate(338deg) brightness(86%) contrast(125%);
          filter: invert(47%) sepia(100%) saturate(5194%) hue-rotate(338deg) brightness(86%) contrast(125%);
}

.requiredField {
  @apply text-xs mt-1 text-[#FF0000];
}

.container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding: 10px;
  margin: 10px;
}

.MuiTableRow-root:nth-child(even) {
  background-color: #cfcfcf !important;
}

.MuiTableRow-head {
  background-color: #979797 !important;
}

.MuiTableCell-root {
  border: 1px solid #a5a5a5 !important;
}

.MuiTableCell-body {
  font-size: 0.7rem !important;
}
/*# sourceMappingURL=globals.css.map */